@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

h1 {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
}

.main {
  margin: auto;
  width: 650px;
  border: 1px solid black;
  padding: 10px 10px;
  /* background: purple; */
}

input {
  margin: auto;
  width: 650px;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  padding: 10px 10px;
  border: 1px solid black;
  border-bottom: none;
}

input::placeholder {
  font-style: italic;
  font-family: "Raleway", sans-serif;
  padding: 5px;
}

input:focus {
  outline: none;
}

p {
  text-align: right;
}

form {
  margin: auto;
  width: 650px;
  font-family: "Raleway", sans-serif;
}

li {
  list-style: none;
  margin-right: 15px;
  font-size: 20px;
}

.containList {
  display: flex;
  justify-content: space-between;
  border: 1px solid gray;
  font-family: "Raleway", sans-serif;
}

.checked {
  text-decoration: line-through;
}

.countItem {
  font-family: "Raleway", sans-serif;
}
